@charset "utf-8";
/*双12详情*/
.act_special{
	width: 115px;
	height: 115px;
	overflow: hidden;
	position: fixed;
	right: 10px;
	top: 202px;
	z-index: 9999999;
}
.act_special.act_hide{
	display: none;
}
* html .act_special{
	position: absolute;
	margin-top: 202px;
	_top:expression(eval(document.documentElement.scrollTop));
}
.act_special .base{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 115px;
	height: 115px;
	background: url(../special/151212_right_bg_v2.pngg') no-repeat;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/resources/special/151212_right_bg_v2.png', sizingMethod='scale');
	z-index: 1;
}
.act_special object{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.act_special a{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 115px;
	height: 115px;
	background: url(about:blank);
	z-index: 3;	
}
.act_special .btn_close{
	width: 19px;
	height: 19px;
	position: absolute;
	right: 2px;
	top: 2px;
	background: url(../special/151212_right_close.pngg') no-repeat center center;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/resources/special/151212_right_close.png', sizingMethod='scale');
	cursor: pointer;
	display: none;
	z-index: 4;
}
/*双12首页*/
.act_special_home{
	width: 1002px;
	height: 500px;
	overflow: hidden;
	position: fixed;
	left: 50%;
	top: 0;
	margin-left: -501px;
	opacity: 0;
	z-index: 9999999;	
}
* html .act_special_home{
	position: absolute;
	_top:expression(eval(document.documentElement.scrollTop));
}
.act_special_home .base_home{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 1002px;
	height: 500px;
	background: url(../special/151212_top_bg_v2.jpgg') no-repeat;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/resources/special/151212_top_bg_v2.png', sizingMethod='scale');
	z-index: 1;
}
.act_special_home object{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.act_special_home a{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 1002px;
	height: 500px;
	background: url(about:blank);
	z-index: 3;	
}
.act_special_home .btn_close_home{
	width: 36px;
	height: 36px;
	position: absolute;
	right: 5px;
	top: 5px;
	background: url(../special/151212_top_close.pngg') no-repeat center center;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/resources/special/151212_top_close.png', sizingMethod='scale');
	cursor: pointer;
	z-index: 4;
}
/*反馈模块*/
.go_to_fankui{
	cursor: pointer;	
}
.feedback_block{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -180px;
	margin-top: -200px;
	z-index: 10000000;
	width: 360px;
	height: 400px;
	border: 2px solid #999999;
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 3px 3px 8px 1px #999999;
	-webkit-animation: show_fb 0.5s;
	-moz-animation: show_fb 0.5s;
	-o-animation: show_fb 0.5s;
	-ms-animation: show_fb 0.5s;
	animation: show_fb 0.5s;
}
* html .feedback_block{
	position: absolute;
	margin-top: 0;
	_top:expression(eval(document.documentElement.scrollTop));
}
@-webkit-keyframes show_fb{
	from{-webkit-transform: translateY(-300px) scale(0.1);}
	to{-webkit-transform: translateY(0) scale(1);}
}
@-moz-keyframes show_fb{
	from{-moz-transform: translateY(-300px) scale(0.1);}
	to{-moz-transform: translateY(0) rotateY(0) scale(1);}
}
@-o-keyframes show_fb{
	from{-o-transform: translateY(-300px) scale(0.1);}
	to{-o-transform: translateY(0) rotateY(0) scale(1);}
}
@-ms-keyframes show_fb{
	from{-ms-transform: translateY(-300px) scale(0.1);}
	to{-ms-transform: translateY(0) rotateY(0) scale(1);}
}
@keyframes show_fb{
	from{transform: translateY(-300px) scale(0.1);}
	to{transform: translateY(0) rotateY(0) scale(1);}
}
.fb_title_bar{
	position: absolute;
	left: 5px;
	top: 5px;
	width: 320px;
	height: 30px;
	padding-left: 15px;
	cursor: move;
}
.fb_title{
	margin-top: 15px;
	height: 18px;
	line-height: 18px;
	border-left: 3px solid #73a8de;
	font-size: 18px;
	text-indent: 10px;
	font-weight: bold;
	color: #666666;
}
.fb_close_btn{
	position: absolute;
	right: 5px;
	top: 10px;
	width: 30px;
	height: 30px;
	background: url(../img/fb_close_btn.pngg') no-repeat top;
	cursor: pointer;
}
.fb_close_btn.hover{
	background: url(../img/fb_close_btn.pngg') no-repeat bottom;
}
.fb_text_bg{
	position: absolute;
	left: 20px;
	top: 60px;
	width: 322px;
	height: 122px;
	background: url(../img/fb_text_bg.pngg') no-repeat;
}
.fb_text{
	position: absolute;
	left: 11px;
	top: 11px;
	width: 300px;
	height: 100px;
	resize: none;
	border: none;
	background: none;
	outline: none;
}
.fb_file_line{
	position: absolute;
	width: 320px;
	height: 38px;
	line-height: 38px;
	left: 20px;
	top: 200px;
}
.fb_hide_file{
	position: absolute;
	left: 0;
	top: 0;
	outline: none;
	display: block;
	width: 112px;
	height: 38px;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-o-opacity: 0;
	-ms-opacity: 0;
	opacity: 0;
	filter: alpha(opacity="0");
	z-index: 99999;
}
.fb_file_btn{
	position: absolute;
	left: 0;
	top: 0;
	width: 112px;
	height: 38px;
	background: url(../img/fb_file_btn.pngg') no-repeat;
}
.fb_file_info{
	position: absolute;
	left: 120px;
	top: 0;
	width: 200px;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	font-size: 12px;
	color: #999999;
}
.fb_contact_line{
	position: absolute;
	left: 20px;
	top: 255px;
	width: 320px;
	height: 38px;
}
.fb_contact_lab{
	position: absolute;
	left: 0;
	top: 0;
	width: 118px;
	height: 38px;
	line-height: 38px;
	color: #666666;
	font-size: 18px;
	text-align: center;
	cursor: default;
}
.fb_contact_ipt_bg{
	position: absolute;
	left: 116px;
	top: 0;
	width: 204px;
	height: 38px;
	background: url(../img/fb_contact_bg.pngg') no-repeat;
}
.fb_contact_ipt_bg input{
	position: absolute;
	left: 10px;
	top: 0;
	width: 194px;
	height: 38px;
	border: 0;
	background: none;
	outline: none;
}
.fb_error_line{
	position: absolute;
	left: 20px;
	top: 310px;
	width: 320px;
	height: 20px;
	line-height: 20px;
	text-align: left;
	color: #ff0000;
	cursor: default;
}
.fb_submit{
	position: absolute;
	left: 50%;
	margin-left: -60px;
	bottom: 20px;
	width: 120px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 16px;
	background-color: #73a8de;
	border: 0;
	color: #ffffff;
	outline: none;
}
.fb_success{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -180px;
	margin-top: -65px;
	width: 360px;
	height: 130px;
	background: url(../img/fb_success_bg.pngg') no-repeat;
	border: 2px solid #999999;
	border-radius: 10px;
	box-shadow: 3px 3px 8px 1px #999999;
}
* html .fb_success{
	position: absolute;
	margin-top: 0;
	_top:expression(eval(document.documentElement.scrollTop));
}


/*红包开始*/
/* .redPacket{width:120px;height:180px;position:fixed;right:25px;top:254px;}
.redPacket a.bg{display: block;width:100%;height:100%; background-image: url(../img/redpacket_0.png); background-repeat: no-repeat; background-position: center;}
.redPacket.redPacketchange a.bg{ background-image: url(../img/redpacket_1.png);}
.redPacket a.redPacket_close{display:block;width:20px;height:20px;position: absolute;right:5px;top:30px;background:url(../img/redpacket_close.png) no-repeat center center;cursor: pointer;}
*html .redPacket{position: absolute;top:expression(eval(document.documentElement.scrollTop +document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-(document.documentElement.clientHeight-400)));} */
/*红包结束*/
